@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #c01f2e,
    ),
  ),
  $font-size: (
    'extra-large': 22px,
    'large': 20px,
    'medium': 18px,
    'base': 16px,
    'small': 15px,
    'extra-small': 14px,
  )
);

@use 'element-plus/theme-chalk/src/reset.scss';
@use 'element-plus/theme-chalk/src/display.scss';
@use 'element-plus/theme-chalk/src/index.scss' as *;

/* General */

body {
  margin: 0;
}

.el-row .el-col {
  margin-bottom: 20px;
}

.is-width-100 {
  width: 100%;
}

.is-height-100 {
  height: 100%;
}

/* Margins */

.is-margin-0 {
  margin: 0;
}

.is-margin-top-0 {
  margin-top: 0;
}

.is-margin-top-05 {
  margin-top: 0.5rem;
}

.is-margin-top-10 {
  margin-top: 1rem;
}

.is-margin-top-15 {
  margin-top: 1.5rem;
}

.is-margin-left-05 {
  margin-left: 0.5rem;
}

.is-margin-left-10 {
  margin-left: 1rem;
}

.is-margin-top-15 {
  margin-top: 1.5rem;
}

.is-margin-top-20 {
  margin-top: 2rem;
}

.is-margin-bottom-05 {
  margin-bottom: 0.5rem;
}

.is-margin-bottom-10 {
  margin-bottom: 1rem;
}

.is-margin-bottom-15 {
  margin-bottom: 1.5rem;
}

.is-margin-bottom-20 {
  margin-bottom: 2rem;
}

.is-margin-bottom-0 {
  margin-top: 0;
}

.is-text-center {
  text-align: center;
}

/* Paddings */

.is-padding-0 {
  padding: 0;
}

.is-padding-top-0 {
  padding-top: 0;
}

/* Flex */

.is-flex {
  display: flex;
}

.is-justify-space-between {
  justify-content: space-between;
}

.is-justify-center {
  justify-content: center;
}

.is-align-baseline {
  align-items: baseline;
}

.is-align-center {
  align-items: center;
}

/* Typography */

.is-small,
.is-small * {
  font-size: calc(var(--el-font-size-base) - 2px);
}

.is-help-text {
  color: var(--el-text-color-regular);
  font-size: 12px;
  line-height: 14px;
}

/* Buttons */

.el-form-item .el-button {
  margin-top: 0.5rem;
}
