@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #c01f2e,
    ),
  )
);

@use 'element-plus/theme-chalk/src/reset.scss';
@use 'element-plus/theme-chalk/src/display.scss';
@use 'element-plus/theme-chalk/src/index.scss' as *;

/* General */

body {
  margin: 0;
}

/* Margins */

.is-margin-top-0 {
  margin-top: 0;
}

.is-margin-top-05 {
  margin-top: 0.5rem;
}

.is-margin-top-1 {
  margin-top: 1rem;
}

.is-margin-left-05 {
  margin-left: 0.5rem;
}

.is-margin-left-1 {
  margin-left: 1rem;
}

.is-margin-top-15 {
  margin-top: 1.5rem;
}

.is-margin-bottom-05 {
  margin-bottom: 0.5rem;
}

.is-margin-bottom-1 {
  margin-bottom: 1rem;
}

.is-margin-bottom-15 {
  margin-bottom: 1.5rem;
}

.is-margin-bottom-2 {
  margin-bottom: 2rem;
}

.is-margin-bottom-0 {
  margin-top: 0;
}

.is-text-center {
  text-align: center;
}

/* Flex */

.is-flex {
  display: flex;
}

.is-justify-space-between {
  justify-content: space-between;
}

.is-justify-center {
  justify-content: center;
}

.is-align-items-baseline {
  align-items: baseline;
}

.is-align-center {
  align-items: center;
}

/* Typography */

.small-text {
  color: var(--el-text-color-regular);
  font-size: 12px;
  line-height: 14px;
}

/* Buttons */

.el-form-item .el-button {
  margin-top: 0.5rem;
}
